:where([class^="ri-"])::before { 
    content: "\f3c2"; 
}
html { 
    scroll-behavior: smooth;
}
.skill-bar {
     transition: width 1s ease-in-out; 
}
.project-card:hover .project-overlay {
     opacity: 1; 
}
.nav-link { 
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #78dcc3;
    transition: width 0.3s ease;
}
.nav-link:hover::after { 
    width: 100%; 
}